<h1 class="text-center">My Top 10 Movies</h1>
<div class="moviebox col-xs-10 col-xs-offset-1">
  <h2 class="text-center">1. There Will Be Blood</h2>
  <img class="img-responsive col-sm-4 col-sm-offset-4" src="assets/01.jpg" />
  <br class="clear" />
  <br />
  <p class="text-center">This is a placeholder. I am under construction and will look a lot better soon! See you in Quiz #2 :D</p>
</div>