html { 
  background: url('dark_embroidery.png');
}

h1, h2, p {
  color:white;
}

.container {
  margin-top:20px;
  box-shadow: 1px 1px 1px 1px rgba(36,32,33,0.50); 
  background-color: rgba(36,32,33,0.50); 
  border-radius: 25px;
  }

.clear {
  clear:both;
}

body {color:white;}

.movie_description .form-control {height: 120px;}

.movie_new {padding:20px;}